In [1]:
import joblib
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
normalized_tweets = pd.read_csv("../data/03_primary/normalized_tweets.csv")
X_train = pd.read_csv("../data/04_feature/X_train.csv")
y_train = pd.read_csv("../data/05_model_input/y_train.csv")

X_train.shape, y_train.shape

((750, 1), (750, 1))

In [10]:
normalized_tweets.drop

sentiment    0
text         5
dtype: int64

In [8]:
cleaned_tweets

     sentiment                                               text
0            0  awww that a bummer you should have got david c...
1            0  is upset that he cant updat hi faceboook by te...
2            0  i di have mani ti am es for the ball manag to ...
3            0    my whole bodi feel itchi and liok it is on fire
4            0  no it is not behav at all i am mad whi am i he...
..         ...                                                ...
995          0  thanok man i am so veri grate i feel unworthi ...
996          0  i miss u too i am total comin bacok tho lastni...
997          0  ohhh i love it ps i am sad we didnt get to han...
998          0            and somehow i still end up in thi place
999          0                       oh that is veri sad poor boy

[1000 rows x 2 columns]

In [4]:
X_train

                                                  text
0                               new video card is doa
1    oh i thought the pirate bay trial verdict was ...
2    i have to be out of my place in 3 daysany help...
3    i totally have like  four girl options and non...
4     not calorie wise   i wish junk food was calor...
..                                                 ...
741                           is myki really horrible
742  its going to be nice again tomorrow and then t...
743   oh haha dude i dont really look at em unless ...
744                           im soooo cold right now
745   well i have uni stuff and netball  but after ...

[746 rows x 1 columns]

In [3]:
vectorizer = TfidfVectorizer()

X_train_vectorized = vectorizer.fit_transform(X_train["text"])

In [4]:
X_train_vectorized.shape
X_train.shape, y_train.shape

((745, 1), (750, 1))