In [13]:
from utils import basic_cleaner, normalize_tweets
import pandas as pd

In [14]:
raw_tweets = pd.read_csv(
    "../../data/01_raw/raw_tweets.csv",
    header=None,
    names=["target", "id", "date", "query", "user", "text"],
    encoding="ISO-8859-1",
)
intermediate_tweets = pd.read_csv(
    "../../data/02_intermediate/intermediate_tweets.csv",
)[:1000]

In [11]:
intermediate_tweets["text"].astype(str)

0      switchfoot Awww that's a bummer You shoulda go...
1      is upset that he can't update his Facebook by ...
2      Kenichan I dived many times for the ball Manag...
3         my whole body feels itchy and like its on fire
4      nationwideclass no it's not behaving at all i'...
                             ...
995    dkoenigs thanks man I'm so very grateful I fee...
996    t_wolfe i miss u too i'm totally comin back th...
997    sniffinglue oh I love it ps I'm sad we didn't ...
998             And somehow I still end up in this place
999               kisluvkis oh that is very sad poor boy
Name: text, Length: 1000, dtype: object

In [3]:
raw_tweets.head(5)

,target,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
# raw_tweets["text"].map(lambda tweets: basic_cleaner(tweets))

In [12]:
tmp = intermediate_tweets["text"].map(lambda tweet: normalize_tweets(tweet))

(apply_list_of_funcs pid=14417) [nltk_data] Downloading package wordnet to
(apply_list_of_funcs pid=14417) [nltk_data]     /Users/felixbehne/nltk_data...
(apply_list_of_funcs pid=14417) [nltk_data]   Package wordnet is already up-to-date!
(apply_list_of_funcs pid=14417) [nltk_data] Downloading package stopwords to
(apply_list_of_funcs pid=14417) [nltk_data]     /Users/felixbehne/nltk_data...
(apply_list_of_funcs pid=14417) [nltk_data]   Package stopwords is already up-to-date!
(apply_list_of_funcs pid=14417) [nltk_data] Downloading package punkt to
(apply_list_of_funcs pid=14417) [nltk_data]     /Users/felixbehne/nltk_data...
(apply_list_of_funcs pid=14417) [nltk_data]   Package punkt is already up-to-date!

In [6]:
tmp

(apply_list_of_funcs pid=14422) [nltk_data] Downloading package wordnet to
(apply_list_of_funcs pid=14422) [nltk_data]     /Users/felixbehne/nltk_data...
(apply_list_of_funcs pid=14422) [nltk_data]   Package wordnet is already up-to-date!
(apply_list_of_funcs pid=14422) [nltk_data] Downloading package stopwords to
(apply_list_of_funcs pid=14422) [nltk_data]     /Users/felixbehne/nltk_data...
(apply_list_of_funcs pid=14422) [nltk_data]   Package stopwords is already up-to-date!
(apply_list_of_funcs pid=14422) [nltk_data] Downloading package punkt to
(apply_list_of_funcs pid=14422) [nltk_data]     /Users/felixbehne/nltk_data...
(apply_list_of_funcs pid=14422) [nltk_data]   Package punkt is already up-to-date!

0      switchfoot aww that is a bummer you shoulda go...
1      is upset that he can not update his facebook b...
2      kenichan i dived many times for the ball manag...
3         my whole body feels itchy and like its on fire
4      nationwideclass no it is not behaving at all i...
                             ...
995    dkoenigs thanks man i am so very grateful i fe...
996    t_wolfe i miss u too i am totally comin back t...
997    sniffinglue oh i love it ps i am sad we did no...
998             and somehow i still end up in this place
999               kisluvkis oh that is very sad poor boy
Name: text, Length: 1000, dtype: object